#output {
  display: none;
}

#submitBtn, #output {
  text-align: center;
  padding: 10px;
}

.red-border {
  border-style: solid;
  border-color: red;
  border-width: 2px;
}

#suggestedLanguage {
  font-size: 30pt;
}
